# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../../media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=../../media
FileSystem=../../media/fonts
FileSystem=../../media/materials/programs
FileSystem=../../media/materials/scripts
FileSystem=../../media/materials/textures
FileSystem=../../media/models
FileSystem=../../media/overlays
FileSystem=../../media/particle
FileSystem=../../media/gui
FileSystem=../../media/sounds
FileSystem=../../media/caelum

# Particle Universe basic paths
FileSystem=../../media/ParticleUniverse
FileSystem=../../media/ParticleUniverse/core
FileSystem=../../media/ParticleUniverse/examples/materials
FileSystem=../../media/ParticleUniverse/examples/scripts
FileSystem=../../media/ParticleUniverse/examples/textures


Zip=../../media/packs/skyboxes.zip

# Paged geometry
[Paged]
FileSystem=../../media/Paged/trees2

[ET]
FileSystem=../../media/ET

